.social_links{
display: flex;
align-items: center;
justify-content: space-between;
}
.social_icon{
    width: 35x;
    height: 35px;
    margin: 5px;
    cursor: pointer;
}
.mintPage-body{
    position: relative;
    background-color:#EEF5FF;
    padding-bottom: 50px;
}
.mint_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -40px;
}
.mint-des{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px .1px #88888877;
    padding: 30px;
    width: 40%;
    margin-right: 10px;
    min-height: 200px;
}
.mint_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin: 2px 0;
    margin: 10px 0;
}
.start_ming{
    position: relative;
    top: 20px;
    width: 100%;
    background-color:#4D4ED9;
    border-radius: 10px;
    border: none;
    padding: 15px 10px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}
.mint_content_two{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    background-color: #fff;
    box-shadow: 2px 2px 8px .1px #88888877;
    border-radius: 10px;
    margin-left: 10px;
    min-height: 200px;
    text-align: center;
}
.mobile_view{
    border-left: 1px solid #aaa;
    height: 100px;
}
.mint_content_two h1{
   font-size: 34px;
   margin: 8px 0;
}
.mint_content_two a{
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #4D4ED9;
}
.total_win{
    position: relative;
}

.rules-container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px .1px #88888877;
    padding: 40px 30px;
}
.rules-container h1{
    color: #1C1354;
}
.rules-container p{
    color: #1C1354;
    font-size: 16px;
    font-weight: 400;
    margin: 10px;
}
/* ===============responsive//=========== */
@media only screen and (max-width:762px){
    .social_links{
        flex-direction: column;
        position: relative;
        top: -10px;
        }
    .social_icon{
        width: 30x;
        height: 30px;
        margin-top: 10px;
    } 
    .mint_container{
        flex-direction: column;
        top: -20px;
    }
    .mint-des{
        padding: 10px;
        width: 95%;
        margin-right: 0px;
        min-height: auto;
        padding-bottom: 40px;
    }
    .start_ming{
        position: relative;
        top: 20px;
        width: 100%;
        background-color:#4D4ED9;
        border-radius: 10px;
        border: none;
        padding:15px  10px;
        font-weight: 700;
        font-size: 16px;
    }
    .mint_content_two{
        padding:30px 10px;
        flex-direction: column;
        margin-top: 20px;
        width: 95%;   
        margin-left:0px;
        min-height: auto;
    }
    
    .total_win::after{
       display: none;
    }
    .rules-container{
        padding: 30px 10px;
        margin: 0;
        width: 95%;
        /* margin-left: -3.5px; */
        margin-right: 0;
    }
    .mobile_view{
        border-left:0;
        height: 1px;
        background-color: #7b7474;
        width: 80%;
        margin: 15px 0;
    }

}